PORT=10000
APP_BASE_URL=http://localhost:10000
ADMIN_API_KEY=change-me
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL=@hurrairtrading
TELEGRAM_WEBHOOK_SECRET=
EXNESS_PARTNER_LINK=https://one.exnessonelink.com/a/i2cmzyptz3

